{% extends 'danhawkes/base-site.html' %}
{% load project_helpers %}

{% block head %}
	{{ block.super }}
	{% include 'portfolio/components/head.html' %}
{% endblock %}

{% block title %}
	Portfolio
{% endblock %}

{% block subtitle %}
	{{project.name}}
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="row">
		<div class="eight columns">
				{{ project.rendered_description|safe }}
		        {% render_tags project.tags.all %}
		        {% render_link_list project.links %} 
		</div>
		<div class="four columns">
			{% render_orbit_image_viewer project.image_set.all tag_id='detailimages' %}
		</div>
	</div>
{% endblock %} 

{% block aftercontent %}
	{{ block.super }}

	<script type="text/javascript">
	$('#detailimages').orbit({
		advanceSpeed : 4000,
		captions : true,
		pauseOnHover : true,
		startClockOnMouseOut : true,
		startClockOnMouseOutAfter : 0,
		timer:true,
		animation:'fade'
	});
	</script>
{% endblock %}