{% load humanize %}
{% load project_helpers %}

	<div class="row">
		<div class="twelve columns">
			<h3>{{project.name}} <small>{{ project.date_published|date:"F, Y" }}</small></h3><hr/>
		</div>
	</div>

	<div class="row">
		<div class="eight columns">
		    {% render_link_list project.links %} 
			{{ project.rendered_description|safe }}
			{{ project.client }}
		</div>
	</div>
