{% extends 'danhawkes/base-site.html' %} {% load humanize %} {% load project_helpers %} 

{% block head %} {{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}portfolio/css/index.css">
{% endblock %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="row project-row">
	<div class="twelve columns">
		<h6 class="subheader">You may also be interested in my<a href="{% url danhawkes-cv %}"> CV.&nbsp;&nbsp;&rarr;&nbsp;&nbsp;&nbsp;&nbsp;</a></h4>
		<hr/>
	</div>
</div>

{% for project in project_list %}
<div class="row project-row">
	<div class="twelve columns">
		<div class="row">
			<div class="eight columns {% cycle '' 'push-four' %}">
				<a name="{{ project.slug }}"></a>
				<h4>
					<a name="" class="project-link" data-url="{% url portfolio.views.detail project.slug %}">{{ project.name }} 
					{% if project.client.name != 'None' %}<small>{{ project.client.name }}</small>{% endif %}</a>
				</h4>
				<div class="project-description">{{ project.rendered_description|safe }}</div>
				{% if project.links %}
					<h5 class="subheader">Links</h5>
					{% render_link_list project.links %}
				{% endif %}
				<h5 class="subheader">Tags</h5>
				{% render_tags project.tags.all %}
			</div>
			<div class="four columns {% cycle '' 'pull-eight' %}">
				{% render_orbit_image_viewer project.image_set.all tag_class='indeximages' %}
			</div>
		</div>
		{%if not forloop.last %}<hr />{% endif %}
	</div>
</div>
{% endfor %}
{% endblock content %} 

{% block aftercontent %} {{ block.super }}

<script type="text/javascript">
	
	if (window.innerWidth > 1300) {
		$('body').append('<div id="mymodal" class="reveal-modal medium"><a class="close-reveal-modal">&#215;</a><div id="mymodalcontent"></div></div>');
	} else if (window.innerWidth > 600) {
		$('body').append('<div id="mymodal" class="reveal-modal large"><a class="close-reveal-modal">&#215;</a><div id="mymodalcontent"></div></div>');
	}	
	
	$('.project-link').click(function(event) {
		/* url = $(this).attr('data-url');
		if ($('#mymodal').length) {
			$('#mymodal').reveal({
				animation:'fade',
				open:function(){
					$('#mymodalcontent').load(url+'?embedded=true');
				}
			});
		} else {
			window.location.href = url;
		}
		 event.preventDefault(); */
	});
	
	$('.indeximages').orbit({
		advanceSpeed : 4000,
		captions : true,
		pauseOnHover : true,
		startClockOnMouseOut : true,
		startClockOnMouseOutAfter : 0,
		timer:true,
		animation:'fade'
	});

</script>

{% endblock aftercontent %}
