{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
	{% csrf_token %}
	
	{% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  	
  	{% for field in form %}
 		{% if field.is_hidden %}
      		<div>{{ field }}</div>
		{% endif %}
	{% endfor %}
	
	{{ form.message.errors }}
	<textarea id="id_comment" placeholder="Comment" name="comment"></textarea>
	{{ form.message }}
	<ul class="button-group">
		<li><input type="submit" class="small secondary button" name="preview" class="submit-preview" value="Preview" /></li>
		<li><input type="submit" class="small button" name="post" class="submit-post" value="Submit" /></li>
   	</ul>
</form>	