{% load static %}
{% if link.file %}
	<a href="{% get_media_prefix %}{{ link.file }}" {% if link.target_blank %}target="blank"{% endif %}>{% if link.annotation %}{{ link.annotation }}{% else %}{{ link.file }}{% endif %}</a>
{% elif link.url %}
	<a href="{{ link.url }}" {% if link.target_blank %}target="blank"{% endif %}>{% if link.annotation %}{{ link.annotation }}{% else %}{{ link.url }}{% endif %}</a>
{% endif %}
