{% load static %}
{% load project_helpers %}
{% for link in links %}
	{% if forloop.first %}<ul class="disc">{% endif %}
	<li>{% render_link link %}</li>
	{% if forloop.last %}</ul>{% endif %}
{% endfor %}