{% load static %}
{% load project_helpers %}
{% load math %}
<div style="height:{{max_height}}px;">
	<div{% if tag_class %} class="{{tag_class}}"{% endif %}{% if tag_id %} id="{{ tag_id }}"{% endif %}>
		{% for image in images %}
		<div>
			<div class="orbit-slide-outer">
				<div class="orbit-slide-inner" style="max-width:100%; width:{{ image.width }}px; max-height:100%; height:{{ image.height }}px;" {% if image.caption %}data-caption="#caption{{ forloop.counter }}"{% endif %} >
					<img src="{% get_media_prefix %}{{ image.file.name }}" />
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% for image in images %}
	{% if image.caption %}
		<span class="orbit-caption" id="caption{{ forloop.counter }}">{{ image.caption }}</span>
	{% endif %}
{% endfor %}