/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-general"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-general-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicon-general-settings:before {
  content: "\f000";
}

.foundicon-general-heart:before {
  content: "\f001";
}

.foundicon-general-star:before {
  content: "\f002";
}

.foundicon-general-plus:before {
  content: "\f003";
}

.foundicon-general-minus:before {
  content: "\f004";
}

.foundicon-general-checkmark:before {
  content: "\f005";
}

.foundicon-general-remove:before {
  content: "\f006";
}

.foundicon-general-mail:before {
  content: "\f007";
}

.foundicon-general-calendar:before {
  content: "\f008";
}

.foundicon-general-page:before {
  content: "\f009";
}

.foundicon-general-tools:before {
  content: "\f00a";
}

.foundicon-general-globe:before {
  content: "\f00b";
}

.foundicon-general-home:before {
  content: "\f00c";
}

.foundicon-general-quote:before {
  content: "\f00d";
}

.foundicon-general-people:before {
  content: "\f00e";
}

.foundicon-general-monitor:before {
  content: "\f00f";
}

.foundicon-general-laptop:before {
  content: "\f010";
}

.foundicon-general-phone:before {
  content: "\f011";
}

.foundicon-general-cloud:before {
  content: "\f012";
}

.foundicon-general-error:before {
  content: "\f013";
}

.foundicon-general-right-arrow:before {
  content: "\f014";
}

.foundicon-general-left-arrow:before {
  content: "\f015";
}

.foundicon-general-up-arrow:before {
  content: "\f016";
}

.foundicon-general-down-arrow:before {
  content: "\f017";
}

.foundicon-general-trash:before {
  content: "\f018";
}

.foundicon-general-add-doc:before {
  content: "\f019";
}

.foundicon-general-edit:before {
  content: "\f01a";
}

.foundicon-general-lock:before {
  content: "\f01b";
}

.foundicon-general-unlock:before {
  content: "\f01c";
}

.foundicon-general-refresh:before {
  content: "\f01d";
}

.foundicon-general-paper-clip:before {
  content: "\f01e";
}

.foundicon-general-video:before {
  content: "\f01f";
}

.foundicon-general-photo:before {
  content: "\f020";
}

.foundicon-general-graph:before {
  content: "\f021";
}

.foundicon-general-idea:before {
  content: "\f022";
}

.foundicon-general-mic:before {
  content: "\f023";
}

.foundicon-general-cart:before {
  content: "\f024";
}

.foundicon-general-address-book:before {
  content: "\f025";
}

.foundicon-general-compass:before {
  content: "\f026";
}

.foundicon-general-flag:before {
  content: "\f027";
}

.foundicon-general-location:before {
  content: "\f028";
}

.foundicon-general-clock:before {
  content: "\f029";
}

.foundicon-general-folder:before {
  content: "\f02a";
}

.foundicon-general-inbox:before {
  content: "\f02b";
}

.foundicon-general-website:before {
  content: "\f02c";
}

.foundicon-general-smiley:before {
  content: "\f02d";
}

.foundicon-general-search:before {
  content: "\f02e";
}
