{% extends 'danhawkes/base-site.html' %} {% load humanize %} {% load project_helpers %} 

{% block title %}Error{% endblock %}
{% block subtitle %}Bad access token{% endblock %}

{% block content %}
	<div class="alert-box alert">
		{% if token %}
			The access token <code>'{{ token }}'</code> does not appear to be valid. 
		{% else %}
			An access token was expected, but none was found in your request.
		{% endif%}
		<a href="#" class="close">&times;</a>		
	</div>
	<p>
		Please use the contact link below if you believe this to be in error.
	</p>
{% endblock content %} 

{% block aftercontent %}
{{ block.super }}
<script type="text/javascript">
	$(document).foundationAlerts();
</script>
{% endblock %} 