{% include 'danhawkes/components/common-pre.html' %}
<head>
	{% block head %}
		{% include 'danhawkes/components/common-head.html'%}
	{% endblock head %}
	{% block extra-head %}
	{% endblock %}
</head>
<body>
	{% include 'danhawkes/components/nav.html' %}
	<div class="row">
		<div class="twelve columns">
			<h1 id="page-title">
				{% block title %}
				{% endblock %}
				 <small id="page-subtitle">
				 {% block subtitle %}
				 {% endblock %}
			 	</small>
			 </h1>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			{% block content %}
			{% endblock %}
		</div>	
	</div>	
	<footer class="row">
		<div class="twelve columns">
			<hr/>
			{% include 'danhawkes/components/footer.html' %}
		</div>
	</footer>
	{% block aftercontent %}
		{% include 'danhawkes/components/common-aftercontent.html' %}
	{% endblock %}
</body>
{% include 'danhawkes/components/common-post.html' %}