{% extends 'danhawkes/base-site.html' %} {% block title %}CV{% endblock %} {% block content %}

<div class="row">
	<div class="eight columns">
		{{ model.content|safe }}	
	</div>
	<div class="four columns">
		<div class="panel callout">
			<ul style="list-style-type: none;">
				{% load static %}
				<li><i class="foundicon-general-page"></i>&nbsp;&nbsp;<a href="{% get_media_prefix %}{{ model.file.name }}">Download as PDF</a></li>
			</ul>
		</div>
		<div class="panel">
			<ul style="list-style-type: none;">
				<li><i class="foundicon-general-phone"></i>&nbsp;&nbsp;<a href="tel:{{ model.contact_telephone }}">{{ model.contact_telephone_display }}</a></li>
				<li><i class="foundicon-general-mail"></i>&nbsp;&nbsp;<a href="mailto:{{ model.contact_email }}">{{ model.contact_email_display }}</a></li>
				<li><i class="foundicon-social-skype"></i>&nbsp;&nbsp;<a href="skype:{{ model.contact_skype }}">{{ model.contact_skype_display }}</a></li>
			</ul>
		</div>
	</div>
</div>


	{% endblock content %} 
	{% block aftercontent %} 
	{{ block.super }}
	<script type="text/javascript">
		$(document).foundationTooltips();
	</script>
	{% endblock %}