{% extends 'danhawkes/base-site.html' %} {% load humanize %} {% load project_helpers %} 

{% block title %}Log in{% endblock %}

{% block content %}
	{% if form.errors %}
		<div class="alert-box secondary">
			Your username and password didn't match. Please try again.
 			<a href="#" class="close">&times;</a>		
		</div>
	{% endif %}
<div class="row">
	<div class="four columns">
	
		<form method="post" action="{% url django.contrib.auth.views.login %}">
		{% csrf_token %}
		
		<label>{{ form.username.label }}</label>
		{{ form.username }}
		
		<label>{{ form.password.label }}</label>
		{{ form.password }}
		
		<input type="submit" class="button" value="Log in" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock content %} 

{% block aftercontent %}
{{ block.super }}
<script type="text/javascript">
	$(document).foundationAlerts();
</script>
{% endblock %} 