{% load danhawkes_helpers %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{% if page_title %}{{ page_title }} | {% endif %}{% site_display_name %}</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{STATIC_URL}}danhawkes/foundation/stylesheets/app.css">
<link rel="stylesheet" href="{{STATIC_URL}}danhawkes/foundation-icons/stylesheets/icons-general.css">
<link rel="stylesheet" href="{{STATIC_URL}}danhawkes/foundation-icons/stylesheets/icons-social.css">
<script src="{{STATIC_URL}}danhawkes/foundation/javascripts/foundation.min.js"></script>
<script src="{{STATIC_URL}}danhawkes/foundation/javascripts/modernizr.foundation.js"></script>
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
