{% load sitetree %}
<div class="contain-to-grid">
	<nav class="top-bar">
		<ul>
			<li class="name">
				<h1>
					<a href="/">danhawkes.co.uk</a>
				</h1>
			</li>
			<li class="toggle-topbar"><a href="#"></a></li>
		</ul>
		<section>
			<ul class="left">{% sitetree_menu from "maintree" include "root,this-children" template "sitetree/menu_foundation.html" %}
			</ul>
			<ul class="right">{% sitetree_menu from "righttree" include "root,this-children" template "sitetree/menu_foundation.html" %}
			</ul>
		</section>
	</nav>
</div>
