<h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
<div id="article-content" class="article">
<p>{{ article.rendered_content|safe|truncatewords_html:50 }}</p>
<p><a href="{{ article.get_absolute_url }}">View post &rsaquo;</a></p>
</div>