{% load i18n humanize %}
<div id="article-meta">
  {% if article.tags.count %}
  <h4 class="subheader">Meta <small>{{ article.publish_date|date:"jS M Y" }}</small></h4>
  <p>
  	{% for tag in article.tags.all %}<a href="{{ tag.get_absolute_url }}"><span class="secondary label">{{ tag.name }}</span></a> {% endfor %}
  </p>
  {% endif %}
</div>