{% extends 'danhawkes/base-site.html' %}
{% load article_tags i18n %}

{% block title%}Blog{% endblock %}

{% block extra-head %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}highlight.js/styles/default.css">
<script src="{{STATIC_URL}}highlight.js/highlight.pack.js"></script>
<script>
	function loadCode(fileName, type) {
	    var randId = Math.round(Math.random() * 65536);
	    var className = (type != null) ? ' class="' + type + '"' : '';
	    document.write('<pre><code id="' + randId + '"' + className + '></code></pre>');
	    $.ajax({	
		    url: '{{STATIC_URL}}bits/' + fileName,
		    type: 'GET',
		    dataType: 'text',
		    async: false,
		    success: function(data) {
	    		$('#' + randId).text(data);	
	    	}
	    });
	}
</script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="nine columns">
			{% block articles-content %}
			{% endblock %}
		</div>
		<aside class="three columns" id="sidebar-articles">
					<h5>Recent posts</h5> 
					{% get_articles 5 as recent %} 
					{% for article in recent %} 
						{% if forloop.first %}<ul>{% endif %}
						<li><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></li>
						{% if forloop.last %}</ul>{% endif %}
					{% endfor %}
		
				    <h5 class="title">Archives</h5>
				    {% get_article_archives as archives %}
				    {% for year in archives %}
					    {% if forloop.first %}<ul>{% endif %}
					        <li>
				            <strong>{{ year.0 }}</strong>
				            <ul class="months">
				            {% for month in year.1 %}
				                <li><a href="{% url articles_in_month month.year,month.month %}" title="{% trans 'View articles posted in this month' %}">{{ month|date:"N" }}</a></li>
					        {% endfor %}
							</ul>
							</li>
						{% if forloop.last %}</ul>{% endif %}
					{% endfor %}
				
					<h5>Tags</h5>
			  		{% tag_cloud %}
		</aside>
	</div>
	<div class="row">
		<div class="nine columns">
			<!-- PAGINATOR LINKS -->
			{% if paginator and page_obj %}
				{% ifnotequal paginator.page_range|length 1 %}
					<ul class="pagination">
					{% for p in paginator.page_range %}
						{% if forloop.first %}
							{% if page_obj.has_previous %}
							    <li><a href="{% get_page_url page_obj.previous_page_number %}">&lsaquo;</a></li>
							{% else %}
								<li class="arrow unavailable"><a href="">&laquo;</a></li>
							{% endif %}
						{% endif %}
						<li {% ifequal p page_obj.number %} class="current"{% endifequal %}><a href="{% get_page_url p %}">{{ p }}</a></li>
						{% if forloop.last %}
							{% if page_obj.has_next %}
							    <li><a href="{% get_page_url page_obj.next_page_number %}">&rsaquo;</a></li>
							{% else %}
								<li class="arrow unavailable"><a href="">&rsaquo;</a></li>
							{% endif %}
							</ul>
						{% endif %}
					{% endfor %}
				{% endifnotequal %}
			{% endif %}
			<!-- END PAGINATOR LINKS -->
		</div>
	</div>
{% endblock %}
