{% load sitetree %}
{% for item in sitetree_items %}
	<li {% if item.is_current or item.in_current_branch %} class="active"{% endif %}>
		<a href="{% sitetree_url for item %}"{% if 'http' in item.url %} target="blank"{% endif %}> {{ item.title_resolved }} </a>
		{% if item.has_children %}{% sitetree_children of item for menu template "sitetree/menu_foundation_dropdown.html" %}{% endif %}
	</li>
	{% if not forloop.last %}
		<li class="divider"></li>
	{% endif %}
{% endfor %}
