<!DOCTYPE html>
<html>
<head>
{% load danhawkes_helpers %}
{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Portfolio | {% site_display_name %}</title>
<script src="{% get_media_prefix %}portfolio/processingjs/tentacles/processing.js"></script>
<style type="text/css" media="screen">
body {
    background-color: #e6e6e6;
    margin: 0px
}

#horizon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    display: block
}

#content {
    background-color: #f0f0f0;
    position: absolute;
    top: -200px;
    left: 50%;
    width: 600px;
    height: 400px;
    visibility: visible;
    margin-left: -300px;
}
</style>

</head>
<body>
	<div id="horizon">
		<div id="content">
			<canvas data-processing-sources="{% get_media_prefix %}portfolio/processingjs/tentacles/ik_tentacles.pde {% get_media_prefix %}portfolio/processingjs/tentacles/tentacle.pde {% get_media_prefix %}portfolio/processingjs/tentacles/segment.pde {% get_media_prefix %}portfolio/processingjs/tentacles/mouse.pde {% get_media_prefix %}portfolio/processingjs/tentacles/keyboard.pde"></canvas>
		</div>
	</div>

</body>
</html>